@page "/about"

<div class="container">
    <header class="text-center my-5">
        <h1 class="display-4">About Me</h1>
        <p class="lead">Learn more about my journey and expertise.</p>
    </header>

    <section>
        <h2>Who I Am</h2>
        <p>
            I'm Reece Mulder, a 23-year-old Information Technology student at Medicine Hat College.
            My passion lies in understanding technology's potential to enhance business operations and solve complex problems.
        </p>
    </section>

    <section class="my-5">
        <h2>My Journey</h2>
        <p>
            As I pursue my studies, I have gained valuable skills in software development, system analysis, and project management.
            I actively participate in projects that challenge my understanding of IT concepts and enhance my technical abilities.
        </p>
    </section>

    <section class="my-5">
        <h2>My Mission</h2>
        <p>
            My goal as a tech consultant is to provide innovative and effective IT solutions that help businesses thrive in an ever-changing digital landscape.
            I strive to deliver personalized services that meet the unique needs of each client.
        </p>
    </section>

    <footer class="text-center my-5">
        <p>&copy; 2024 Reece Mulder | All Rights Reserved</p>
    </footer>
</div>
