<h3>Login</h3>

<div class="mb-3">
    <input type="text" @bind-value="@Username" class="form-control" placeholder="Username" />
</div>
<div class="mb-3">
    <input type="text" @bind-value="@Password" class="form-control" placeholder="Password" />
</div>
<Button Color="ButtonColor.Primary" Size="ButtonSize.Large" Disabled="false" @onclick="Login">Login</Button>
<br />
@output

@code {
    public string Username;
    public string Email;
    public string Password;
    public string output;

    private void Login()
    {
        if(Username == "admin" || Username == "admin@github.io" && Password == "WOPR")
        {
            output = "You are logged in";
        }
    }

}
